-- Create the pet_db database if it does not exist
-- Note: In docker-compose, postgres automatically creates the DB specified in POSTGRES_DB
-- but we can use this file to add initial data or create specific tables if needed before Alembic/SQLAlchemy runs.

-- Connect to the database
\c pet_db

-- Initial Data Seed
CREATE TABLE IF NOT EXISTS users (
    id SERIAL PRIMARY KEY,
    email VARCHAR(255) UNIQUE NOT NULL,
    hashed_password VARCHAR(255) NOT NULL,
    full_name VARCHAR(255),
    phone VARCHAR(50),
    address TEXT,
    is_active BOOLEAN DEFAULT TRUE,
    is_admin BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Creating a default admin user (Password is 'admin123' hashed with bcrypt)
INSERT INTO users (email, hashed_password, full_name, is_admin)
VALUES ('admin@4kahaban.com', '$2b$12$R9h/9shS8p8Xj0X9X9X9XO5P0P0P0P0P0P0P0P0P0P0P0P0P0P0P', '4kahaban Admin', true)
ON CONFLICT (email) DO NOTHING;

-- Note: The hash above is a placeholder, usually we rely on the backend to seed correctly.
-- But we'll keep the structure for reference.

CREATE TABLE IF NOT EXISTS hospitals (
    id SERIAL PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    address TEXT,
    contact_info VARCHAR(255),
    description TEXT
);

INSERT INTO hospitals (name, address, contact_info, description)
VALUES 
('Pet Care Center', '123 Animal St., Cityville', '02-111-2222', '24/7 Emergency Care and General Checkups'),
('Happy Paws Clinic', '456 Meow Ave., Townsburg', '02-333-4444', 'Specialized in feline care and vaccinations')
ON CONFLICT DO NOTHING;
